

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 100%;
}

.overlayButton {
  width: 10rem;
  position: absolute;
  top: 83%;
  left: 47%;
  transform: translate(-10%, -10%);
  padding: 10px 20px;
  background-color: #fff;
  color: #008190;
  border: none;
  border-radius: 5px;
}

.overlayButton:hover {
  background-color: #c4e3e7;
}

.btnCenter{
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 10rem;
}

.btnCenter:hover {
  background-color: #c4e3e7 !important;
  color: #1F406B !important;
}

/* 
  BUTTON FOOTER */

  .btn-customFooter{
    background-color: $primary;
  }

.btn-customFooter:hover {
  background-color: ; /* Cambia il colore di sfondo in blu quando il bottone è selezionato */
  color: $primary;
}






.eastendFooterSocialIcons_listItemSvg:hover .eastendFooter_fill_hover {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    fill:#8EB8F8;
  }
  
